* {
    /*height: 100%; */
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  #FadeOutScreen {
      height: 100%;
      background-color: black;
  
   
  }
  
  .imgbox {
      position:relative;
      height: 100%;
      width:100%;
      background-color: black;
      z-index: -1;
  }
  
  .imgbox ,
  .center-fit {
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
     /*  max-height: 100%; max-width: 100%; */
     
  }